@CHARSET "UTF-8";

.login-header {
	margin: 0 auto;
	height: 130px;
	text-align: center;
	background:url('../../images/login/logo-dianxin.png') no-repeat center center;
}

.login-content {
	color: white; /* color of text */
	font-family: Helvetica, Arial, sans-serif;
	background: #1b7ec3; /* non-white part of page */
	font-size: 14px;
	font-weight: bold;
	min-width: 20px;
}
form{
	display:inline-block;
}
/* Text fields of input form */
td{
	text-align:left;
}
input{
	width: 200px;
	float: right;
	background: white;
}

/* 'Log in' Button */
.login-button {
	text-align: center;
	line-height: 200%;
	display:inline-block;
	width: 123px;
	height: 30px;
	margin-top: 5px;
	margin-right: 3px;
	color: white;
	font-size: 14px;
	background-color: #55ba49;
	border: solid 1px transparent;
	font-weight: bold;
	letter-spacing: 1px;
	cursor: pointer;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
      
.login-button:hover {
	background-color: #86e379;
}