	<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>流程平台管理系统</title>
<script type="text/javascript" src="../../common/ext/boot.js"></script>
<style type="text/css">
        .datagrid-header-row
        {
        	height:40px;
        	background-color:#F5F9FA;
        }
        .datagrid-btable{
        	height:68px;
        }
		
</style>
</head>
<body class="easyui-layout">
	<div data-options="region:'north',split:true,minHeight:90" style="width:100%;">
		<div class="easyui-tabs" border="false" id="flowTab">
			<div title="流程实例状态统计">
				<div align="center">
					<div id="flowInstTable" style="width:805px;height:110px"></div>
					<div id="proInstPie" style="width:1100px;height:300px"></div>
				</div>
			</div>
			<div title="工作项状态统计">
				<div align="center">
					<div id="workItemTable" style="width:805px;height:110px" align="center"></div>
					<div id="workItemPie" style="width:1100px;height:300px"></div>
				</div>
			</div>
			<div title="流程模板使用统计">
				<div align="center">
					<div id="procDefTable" style="width:805px;height:110px"></div>
					<div id="proDefinePie" style="width:1100px;height:300px"></div>
				</div>
			</div>
		</div>
	</div>
<!-- 	<div data-options="region:'center'">
		<div class="panel" >
			<div class="panel-header" >
		        <div class="panel-title panel-with-icon">异常流程列表</div>
		    </div>
		    <div id="execption-panel" class="panel-body" style="height: 220px">
				<table id="exceptionTl" height="100%"></table>
			</div>
		</div>
	</div> -->
	<script type="text/javascript" src="../../common/echarts3/echarts.js"></script>
	<script type="text/javascript" src="js/mainpage.js"></script>
</body>
</html>